<!DOCTYPE html>
<html lang="en" xmlns:th=" www.thymeleaf.com">
<head>
    <meta charset="UTF-8"/>
    <title>Add Post</title>
</head>
<body>

<form action="#" th:action="@{/process}" th:object="${reddit}" method="post">

    <input type="hidden" th:field="*{id}"/>
    User Name: <input type="text" th:field="*{username}"/><br/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

    Title: <input type="text" th:field="*{title}"/><br/>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

    Subject: <input type="text" th:field="*{subject}"/><br/>
    <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></span>

    <input type="submit" name="submit"/>
</form>

</html>