<!DOCTYPE html>
<html lang="en" xmlns:th=" www.thymeleaf.com">
<head>
    <meta charset="UTF-8"/>
    <title>Address Book List</title>
</head>
<body>
<form action="#" th:action="@{/search}" th:object="${addressbooks}" method="post">
    <input type="search" name="lastname"/> <br/>
    <input type="submit" value="submit"/>

</form>

<a href="/add">add Post </a><br/>
<table>
    <tr>
        <th>User Name</th>
        <th>Title</th>
        <th>Subject</th>
    </tr>
    <tr th:each="reddit : ${reddits}">

        <td th:text="${reddit.username}"></td>
        <td th:text="${reddit.title}"></td>
        <td th:text="${reddit.subject}"></td>

        <td>
            <a th:href="@{/update/{id}(id=${reddit.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${reddit.id})}">Detail</a>
            <a th:href="@{/delete/{id}(id=${reddit.id})}">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>