<!DOCTYPE html>
<html lang="en" xmlns:th=" www.thymeleaf.com">
<head>
    <meta charset="UTF-8"/>
    <title>Home of the free people</title>
</head>
<body>
<a href="/add">Add Post </a><br/>
<table>

    <tr th:each="reddit : ${reddits}">
        <td>

       <span><a th:href="${reddit.subject}" target="_blank" th:inline="text">
                               <span th:text="${reddit.title}"/></a></span><BR/>
        <label>Submitted by:</label>  <span th:text="${reddit.username}"></span><BR/>
        <span th:text="${reddit.date}"></span><br/>
            <a th:href="@{/detail/{id}(id=${reddit.id})}">Detail</a> |
            <a th:href="@{/delete/{id}(id=${reddit.id})}">Delete post</a><br/><br/>
        </td>

    </tr>
</table>
</body>
</html>